.marketplaces {
    position: relative;
    z-index: 2;
}

.marketplaces_container {
    margin-top: 469px;
}

.marketplaces_list_container {
    margin-top: 60px;
    width: 100%;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 76px;
    border: 1px solid #ffffff;
}

.marketplaces_line {
    width: 3px;
    height: 46px;
}

@media screen and (max-width: 1439px) {
    .marketplaces_container {
        margin-top: 362px;
    }
    .marketplaces_list_container {
        margin-top: 50px;
        padding: 40px 62px 30px 57px;
    }
    .marketplaces_img_me {
        width: 187.7px;
        height: 40.67px;
    }
    .marketplaces_img_coral {
        width: 92.55px;
        height: 121.27px;
    }
    .marketplaces_img_opensea {
        width: 182.12px;
        height: 49.17px;    
    }
}

@media screen and (max-width: 999px) {
    .marketplaces_container {
        margin-top: 220px;
    }
    .marketplaces_list_container {
        margin-top: 76px;
        padding: 44px 70px 29px 60px;
    }
    .marketplaces_img_me {
        width: 133.12px;
        height: 28.84px;
    }
    .marketplaces_img_coral {
        width: 65.64px;
        height: 86.01px;
    }
    .marketplaces_img_opensea {
        width: 129.17px;
        height: 34.87px;   
    }
}

@media screen and (max-width: 767px) {
    .marketplaces_container {
        margin-top: 220px;
    }
    .marketplaces_list_container {
        margin-top: 23px;
        padding: 26px 68px 25px 63px;
        height: 160px;
    }
    .marketplaces_line {
        display: none;
    }
    .marketplaces_link_me {
        position: relative;
        top: -34px;
        border-bottom: 1px solid #FFF73C;
        padding-bottom: 27px;
    }
    .marketplaces_img_me {
        width: 138.12px;
        height: 30.84px;
    }
    .marketplaces_link_coral {
        position: relative;
        left: 35px;
        top: -5px;
        border-left: 1px solid #FFF73C;
        padding-left: 27px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .marketplaces_img_coral {
        width: 65.64px;
        height: 86.01px;

    }
    .marketplaces_link_opensea {
        position: relative;
        left: -230px;
        top: 32px; 
    }
    .marketplaces_img_opensea {
        width: 129.17px;
        height: 34.87px;  
    }
}

@media screen and (max-width: 479px) {
    .marketplaces_container {
        margin-top: 220px;
    }
    .marketplaces_list_container {
        margin-top: 23px;
        padding: 21px 37px 23px 34px;
        height: 144px;
    }
    .marketplaces_link_me {
        position: relative;
        top: -26px;
        border-bottom: 1px solid #FFF73C;
        padding-bottom: 20px;
    }
    .marketplaces_img_me {
        width: 121px;
        height: 26px;
    }
    .marketplaces_link_coral {
        position: relative;
        left: 26px;
        top: -1px;
        border-left: 1px solid #FFF73C;
        padding-left: 27px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .marketplaces_img_coral {
        width: 65.64px;
        height: 86.01px;

    }
    .marketplaces_link_opensea {
        position: relative;
        left: -215px;
        top: 32px;
    }
    .marketplaces_img_opensea {
        width: 114px;
        height: 31px;
    }
}

@media screen and (max-width: 319px) {
    .marketplaces_list_container {
        height: 45vw;
    }
    .marketplaces_link_me {
        position: relative;
        top: -8vw;
        border-bottom: 1px solid #FFF73C;
        padding-bottom: 6vw;
    }
    .marketplaces_img_me {
        width: 37vw;
        height: 8vw;
    }
    .marketplaces_link_coral {
        position: relative;
        left: 8vw;
        top: -1px;
        border-left: 1px solid #FFF73C;
        padding-left: 8vw;
        padding-top: 3.2vw;
        padding-bottom: 3.2vw;
    }
    .marketplaces_img_coral {
        width: 20vw;
        height: 26vw;

    }
    .marketplaces_link_opensea {
        position: relative;
        left: -67vw;
        top: 10vw;
    }
    .marketplaces_img_opensea {
        width: 35vw;
        height: 10vw;
    }
}