.partners_container {
    margin-top: 140px;
}

.partners_list_container {
    margin-top: 80px;
    width: 100%;
    padding: 60px 70px 50px 70px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 14px;
    border: 1px solid #ffffff;
}

.partners_line {
    width: 2px;
    height: 46px;
    background-color:  #FFF73C;
}

@media screen and (max-width: 1439px) {
    .partners_container {
        margin-top: 100px;
    }
    .partners_list_container {
        margin-top: 60px;
        padding: 40px 50px 35px 60px;
    }
    .partners_line {
        height: 34px;
    }
    .partners_img_ebay {
        width: 78.13px;
        height: 31.3px
    }
    .partners_img_cnn {
        width: 63.14px;
        height: 29.74px;
    }
    .partners_img_google {
        width: 86.81px;
        height: 27.39px;
    }
    .partners_img_cisco {
        width: 74.98px;
        height: 38.34px;
    }
    .partners_img_airbnb {
        width: 97.07px;
        height: 29.74px;
    }
}

@media screen and (max-width: 999px) {
    .partners_container {
        margin-top: 70px;
    }
    .partners_list_container {
        margin-top: 40px;
        padding: 34px 46px 28px 46px;
    }
    .partners_line {
        height: 26px;
    }
    .partners_img_ebay {
        width: 60.21px;
        height: 24.11px;
    }
    .partners_img_cnn {
        width: 48.64px;
        height: 22.83px;
    }
    .partners_img_google {
        width: 66.88px;
        height: 21.1px;
    }
    .partners_img_cisco {
        width: 57.77px;
        height: 29.54px;        
    }
    .partners_img_airbnb {
        width: 74.79px;
        height: 22.91px;
    }
}

@media screen and (max-width: 767px) {
    .partners_container {
        margin-top: 70px;
    }
    .partners_list_container {
        margin-top: 40px;
        padding: 20px 28px 20px 28px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    .partners_img_ebay {
        width: 60.21px;
        height: 24.11px;
    }
    .partners_img_cnn {
        width: 48.64px;
        height: 22.83px;
    }
    .partners_img_google {
        width: 66.88px;
        height: 21.1px;
    }
    .partners_img_cisco {
        width: 57.77px;
        height: 29.54px;        
    }
    .partners_img_airbnb {
        width: 74.79px;
        height: 22.91px;
    }
}

@media screen and (max-width: 479px) {
    .partners_container {
        margin-top: 70px;
    }
    .partners_list_container {
        margin-top: 40px;
        padding: 23px 14px 28px 13px;
        gap: 27px;
    }
    .partners_line3 {
        display: none;
    }
    .partners_img_ebay {
        width: 51.86px;
        height: 20.77px;
    }
    .partners_img_cnn {
        width: 41.9px;
        height: 19.73px;
    }
    .partners_img_google {
        width: 57.6px;
        height: 18.18px;
    }
    .partners_img_cisco {
        width: 49.77px;
        height: 25.54px;        
    }
    .partners_img_airbnb {
        width: 64.42px;
        height: 19.73px;
    }
}

@media screen and (max-width: 319px) {
    .partners_container {
        margin-top: 22vw;
    }
    .partners_list_container {
        margin-top: 12vw;
        padding: 7vw 4vw 8vw 4vw;
        gap: 8vw;
    }
    .partners_line {
        height: 8vw;
    }
    .partners_line3 {
        display: none;
    }
    .partners_img_ebay {
        width: 16vw;
        height: 6vw;
    }
    .partners_img_cnn {
        width: 13vw;
        height: 6vw;
    }
    .partners_img_google {
        width: 17vw;
        height: 6vw;
    }
    .partners_img_cisco {
        width: 15vw;
        height: 8vw;        
    }
    .partners_img_airbnb {
        width: 20vw;
        height: 6vw;
    }
}